<%= form_for(@journal_entry, url: store_journal_entries_path(@store), remote: true, html: {class: 'form-inline', style: 'float:right'}) do |f| %>
    <%= f.text_field :message, class: 'input-xlarge', placeholder: 'Message' %>
    <div class="input-prepend" align="left">
    	<span class="add-on"><%= current_company.currency %></span><%= f.text_field :amount, class: 'input-small' %>
		</div>
    <%= f.select :kind, {"Debit"=>"debit", "Credit"=>"credit"}, {}, class: 'input-small' %>&nbsp;
    <%= f.hidden_field :occured_on %>
    <%= f.submit "Add", class: "btn btn-success" %>
<% end %>
