<% if @supplier.is_a? Factory %>

<div class="span12 center">
	<div id="canvas" class="shadow-box add-supplies span8">
		<h1><%= @store.name %></h1><br/>
		<div class="input-append date" id="datepicker" data-date="<%= @supplied_on %>" data-date-format="yyyy-mm-dd">
      <input size="16" type="text" value="<%= @supplied_on %>" class="input-small" readonly>
      <span class="add-on"><i class="icon-calendar"></i></span>
    </div>

    <div id="supplies-form">
			<%= render 'form', form_options: form_options, supplied_on: @supplied_on %>
		</div>
	</div>
</div>

<% elsif @supplier.is_a? Store %>

<%= render 'stores/sidebar', store: @store %>

<div id="center" class="span9 shadow-box">
  <div class="span2">
    <div class="input-append date" id="datepicker" data-date="<%= @supplied_on %>" data-date-format="yyyy-mm-dd">
      <input size="16" type="text" value="<%= @supplied_on %>" class="input-small" readonly>
      <span class="add-on"><i class="icon-calendar"></i></span>
    </div>
  </div>

  <div class="span10">
    <div id="supplies-form">
      <%= render 'form', form_options: form_options, supplied_on: @supplied_on %>
    </div>
  </div>
</div>

<% end %>

<script type="text/javascript">
	$(document).ready(function(){
		$('#datepicker').datepicker().on('changeDate', function(e){
			var date = new Date(e.date.valueOf());
			var supplied_on = date.getFullYear() + '-' + (date.getMonth()+1) + '-' + date.getDate();
			$('#supplier_supplied_on').val(supplied_on);

			$.ajax({
				url: '<%= @supplier_fetch_form_path %>&amp;date=' + supplied_on,
				success: function(data) {
					$('#supplies-form').html(data);
				}
			});

			$('#datepicker').datepicker('hide');
		});
	});
</script>
