<div class="span12">
	<div id="login-box" class="shadow-box">
	<h2>Sign In</h2>

	<%= render 'layouts/flash', flash: flash %>

	<%= form_tag({}, class: 'form-signin') do %>
		<div>
	    <%= text_field_tag :username, params[:username], placeholder: 'Username or Email', class: 'input-block-level' %>
	  </div>

	  <div>
	    <%= password_field_tag :password, params[:password], placeholder: 'Password', class: 'input-block-level' %>
	  </div>

		<div id="checkbox-container">
			<%= label_tag :remember, check_box_tag(:remember, 'yes', true) + 'Remember me on this computer', class: 'checkbox' %>
	  </div>

	  <div>
	    <%= submit_tag "Login", class: "btn btn-success btn-large" %>
	  </div>
	<% end %>

	</div>
</div>