<div class="span12">
	<div class="shadow-box add-item-box">
	<h2>Edit Store</h2><br />

	<% if @store.errors.any? %>
	  <div class="alert alert-error">
	    <ul>
	    <% @store.errors.each do |field, msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>


	<%= form_for(@store, url: admin_store_path(@store)) do |f| %>	
		<div>
	    <%= f.label :name, "Store Name:" %>
	    <%= f.text_field :name, class: "input-block-level" %>
	  </div>

		<% if current_company.stores.any? %>
			<div>
		    <u><%= label_tag "Select factories which supply to this store" %></u>
				<% current_company.factories.each do |factory| %>
					<div>
						<%= label_tag factory.name.parameterize.underscore,
									check_box_tag("store[factories][]",
										factory.id,
										@store.gets_supplies_by?(factory) ? true : false) + factory.name,
										class: "checkbox" %>
				  </div>
				<% end %>
			</div>
		<% end %>

	  <br /><div>
	    <%= f.submit "Update", class: "btn btn-success btn-large" %>
	  </div>
	<% end %>
	</div>
</div>