<% if @factory.errors.any? %>
  <div class="alert alert-error">
    <ul>
    <% @factory.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@factory, form_options) do |f| %>
	<table align="center" class="table table-striped">
	  <thead>
	    <tr>
	      <th>Product Name</th>
	      <th>Quantity</th>
	    </tr>
	  </thead>
	  <tbody>
			<% @supplies.each do |supply| %>
		    <tr>
		      <td><%= supply.product.name %></td>
					<%= f.fields_for :supplies, supply do |builder| %>
			      <td><%= builder.text_field :quantity, class: "input-small" %></td>
					<% end %>
		    </tr>
			<% end %>
	  </tbody>
	</table>
	<%= f.hidden_field :supplied_on, value: supplied_on, class: 'supplied-on' %>
	<%= f.submit "Add Supplies", class: "btn btn-success btn-large" %>
<% end %>
