<%= render 'admin/sidebar' %>
<div class="flash-box">
	<%= render 'layouts/flash', flash: flash %>
</div>
<div id="canvas">
	<% @factories.each do |factory| %>
		<div class="shadow-box item">
			<img />
			<h4 class="item-name"><%= slice_name(factory.name, 17) %></h4>
			<h5 class="item-description"><%= "Today's Sale: #{current_user.company.currency}"%></h5>
			<%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_admin_factory_path(factory), class: "edit", title: "Edit" %>
			<%= link_to '<i class="icon-trash"></i>'.html_safe, admin_factory_path(factory), class: "trash", title: "Delete", method: :delete, confirm: "Are you sure?" %>
		</div>
	<% end %>
</div>
<div class="span2">
	<a href="<%= new_admin_factory_path %>" id="add-item" title="Add New Factory">
		<div class="shadow-box item-small">
			<%= image_tag "icons/glyphicons_190_circle_plus.png" %><br/>
			New Factory
		</div>
	</a>
</div>