<div class="span12">
	<div id="add-store-box" class="shadow-box add-item-box">
	<h2>Add Factory</h2><br />

	<% if @factory.errors.any? or @user.errors.any? %>
	  <div class="alert alert-error">
	    <p>There were problems with the following fields:</p>
	    <ul>
	    <% @factory.errors.each do |field, msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    <% @user.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>

	<%= form_for(@factory, url: admin_factories_path) do |f| %>	
		<div>
	    <%= f.label :name, "Factory Name" %>
	    <%= f.text_field :name, class: "span4" %>
	  </div>
		<%= fields_for @user do |f| %>
			<div>
		    <%= f.label :fullname, "Manager Name" %>
		    <%= f.text_field :fullname, class: "span4" %>
		  </div>
			<div>
		    <%= f.label :email, "Manager Email",class: "control-label" %>
		    <%= f.text_field :email, class: "span4" %>
		  </div>
			<div>
		    <%= f.label :username, "Username" %>
		    <%= f.text_field :username, class: "span4" %>
		  </div>
			<div>
			  <%= f.label :password %>
			  <%= f.password_field :password, class: "span4" %>
			</div>
			<div>
			  <%= f.label :password_confirmation, "Confirmation" %>
			  <%= f.password_field :password_confirmation, class: "span4" %>
			</div>
		<% end %>
		<div>
	    <u><%= label_tag "Select stores for supply" %></u>
			<% current_company.stores.each do |store| %>
				<div>
					<%= label_tag store.name.parameterize.underscore,
												check_box_tag("factory[stores][]",
																			store.name,
																			false,
																			id: store.name.parameterize.underscore) + store.name,
												class: "checkbox" %>
			  </div>
			<% end %>
		</div>
		
	  <br/><div>
	    <%= f.submit "Add", class: "btn btn-success btn-large" %>
	  </div>
	<% end %>
	</div>
</div>