<% if @product.errors.any? %>
  <div class="alert alert-error">
    <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for(@product, url: @product.new_record? ? admin_products_path : admin_product_path(@product)) do |f| %>	
	<div>
    <%= f.label :name, "Product Name" %>
    <%= f.text_field :name, class: 'input-block-level' %>
  </div>
	<div>
    <%= f.label :price, "Price" %>
    <div id="price-prepend" class="input-prepend" align="left">
    	<span class="add-on"><%= current_company.currency %></span><%= f.text_field :price %>
		</div>
  </div><br />
  <div>
    <%= f.submit @product.new_record? ? "Add" : "Update", class: "btn btn-success btn-large" %>
  </div>
<% end %>