<%= render 'admin/sidebar' %>

<div class="span8 canvas">
	<div class="flash-box">
		<%= render 'layouts/flash', flash: flash %>
	</div>

	<div>
		<% @products.each do |product| %>
			<div class="shadow-box item">
				<img />
				<p class="item-name"><%= slice_name product.name, 13 %></p>
				<p class="item-description"><%= "#{current_user.company.currency} #{product.price}"%></p>
				<%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_admin_product_path(product), class: "edit", title: "Edit" %>
				<%= link_to '<i class="icon-trash"></i>'.html_safe, admin_product_path(product), class: "trash", title: "Delete", method: :delete, confirm: "Are you sure?" %>
			</div>
		<% end %>
	</div>
</div>

<div class="span1" style="margin-left:10px;">
	<a href="<%= new_admin_product_path %>" id="add-item" title="Add New Product"><%= image_tag "icons/glyphicons_190_circle_plus.png" %></a>
</div>
